@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

:root{
    --edu: 'Edu TAS Beginner', cursive;
    --theme: #00a3ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 100%);
}

a{
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.body{
    margin: 0 7%;
    box-sizing: border-box;
}

hr{
    border: 1px solid black;
}

.body h1 a{
    color: #007fff;
    font-family: var(--edu);
}

.body h1 span a{
    color: #9AF598;
}

.body h1 span{
    margin: 0 7% 0 0;
    position: absolute;
    right: 0;
    left: 1;
}

.box #dashboard{
    color: white;
    background-color: var(--theme);
    border-radius: 3vh;
    font-size: max(150%);
    padding: 1.4vh 12vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    top: 55%;
    background-image: linear-gradient(to top left, green, var(--theme));
}

.box #dashboard:active{
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media (max-width: 640px){

    .box #dashboard{
        text-align: center;
        padding: 1.4vh 0;
        margin: 15.6vh 10vw 0 10vw;
        position: absolute;
        left: 0;
        right: 0;
    }

}